Package: com.chfreeware.nopagedots
Name: NoPageDots
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Remove those pesky page dots!
Maintainer: iOSChris <ioschrisharris@gmail.com>
Author: iOSChris <ioschrisharris@gmail.com>
Homepage: http://www.chrisharrisdev.com/
Section: Tweaks
